.navbar {

	margin-bottom: 0;
	z-index:1000;
	border-radius: 0;

}
.footer{


	-webkit-box-shadow: 1px 5px 15px 6px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 5px 15px 6px rgba(0,0,0,0.75);
	box-shadow: 1px 5px 15px 6px rgba(0,0,0,0.75);
	/*Copy Text*/
	/*border-top-width: 20px;*/
	/*box-shadow: 10px 10px 5px #888888;*/
	/*border-color: #004444;*/
	/*background-color: #DAF5BF;*/
	/*background-color: #555555;*/
	/*background-image: url(../image/dot.png);*/
	/*background-repeat: repeat;*/
	color: #006600;
}

.facebook-icon{
	-webkit-background-size: cover;
	background-size: cover;
	display: inline-block;
	height: 30px;
	width:30px;
	background-image: url("../image/fb1.png");
}
.facebook-icon:hover{

	background-image: url("../image/fb2.png");

}

.twitter-icon{
	-webkit-background-size: cover;
	background-size: cover;
	display: inline-block;
	height: 30px;
	width:30px;
	background-image: url("../image/twitter1.png");
}
.twitter-icon:hover{

	background-image: url("../image/twitter2.png");

}

.tel-icon {
	color: #006600;


}


.tel-icon :hover{
	color: #ecd533!important;

}
.tel-icon span{
	-webkit-background-size: cover;
	background-size: cover;
	display: inline-block;
	height: 20px;
	width:20px;
	background-image: url("../image/tp1.png");
	vertical-align: middle;
	margin-right: 5px;
}
.tel-icon:hover span{

	background-image: url("../image/tp2.png");

}

.background{

	background-color: #DAF5BF;
	/*margin-top: -10px;*/

	/*height: calc(100% - 50px)!important;*/
}


body {
	background-color:#fff;
	-webkit-font-smoothing: antialiased;
	font: normal 14px Roboto,arial,sans-serif;
}

.background-index{

	background-color: #DAF5BF;
	margin-top: -15px;
	height: calc(100% - 50px)!important;

}

/*loading screen start*/

.loading-screen{
	position: absolute;
	background-color: rgba(0, 0, 0, 0.69);
	height: calc(100% - 55px)!important;
	width: 100%;
	z-index: 1060;
	/*opacity: .9;*/
	text-align: center;

	display: none;
	position:fixed;
}


.Centerer
{
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.Centered
{
	width: 30%;
	/*height: 30%;*/
	display: inline-block;
	vertical-align: middle;
}

/*loading screen end*/