<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">

           <div class="sidebar-toggle-div pull-right" style="height:100%;z-index:1000; position:relative">
               <a href="#" class="pull-right sidebar-toggle" style="" id="menu-toggle" onclick="clickedSideMenu()" >


               <i id="carrot" class="glyphicon glyphicon-chevron-left pull-right" style="margin-top:50%"></i>
                 </a>
           </div>


         <div>
            <ul class="sidebar-nav">

                <li ng-repeat="link in pageLinks">
                    <a href="{{link.url}}">{{link.page}}</a>
                </li>


            </ul>
        </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <!--<div class="col-lg-12">-->



                        <!--<div class="col-md-12">-->
                            <!--<div class="heading insetshadow" style="text-align: center">-->
                              <!--<h1>Change Password</h1>-->
                              <!--<hr class="fancy-line">-->
                            <!--</div>-->
                            <!--<input type="password" ng-model="oldPassword" placeholder="Current Password" class="form-control"/>-->
                            <!--<input type="password" ng-model="newPassword1" placeholder="New Password" class="form-control"/>-->
                            <!--<input type="password" ng-model="newPassword2" placeholder="New Password (again)" class="form-control"/>-->
                            <!--<button class="btn btn-default" ng-click="submit( )">Submit</button>-->

                        <!--</div>-->


                    <!--</div>-->

                    <div class="heading insetshadow" style="text-align: center">
                    <h1>Change Password</h1>
                    <hr class="fancy-line">
                    </div>

                        <div class="col-sm-6 col-sm-offset-3">

                            <div class="alert alert-danger" ng-if="error">{{errorMessage}}</div>
                            <div class="alert alert-success" ng-if="success">{{successMessage}}</div>

                            <form  id="passwordForm">
                                <input required="required" ng-model="oldPassword" type="old_password" class="input-lg form-control" name="oldPassword1" id="oldPassword1" placeholder="Current Password" autocomplete="off">
                                <br><br>

                                <input required="required" ng-model="newPassword1" type="password" class="input-lg form-control" name="password1" id="password1" placeholder="New Password" autocomplete="off">

                                <div class="row">
                                    <div class="col-sm-6">
                                        <span id="8char" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> 8 Characters Long<br>
                                        <span id="ucase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Uppercase Letter
                                    </div>
                                    <div class="col-sm-6">
                                        <span id="lcase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Lowercase Letter<br>
                                        <span id="num" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Number
                                    </div>
                                </div>
                                <input required="required" ng-model="newPassword2" type="password" class="input-lg form-control" name="password2" id="password2" placeholder="Repeat Password" autocomplete="off">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <span id="pwmatch" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> Passwords Match
                                    </div>
                                </div>
                                <br><br>
                                <input type="submit" class="col-xs-12 btn btn-success btn-load btn-lg" ng-click="submit( )" data-loading-text="Changing Password..." value="Change Password">
                            </form>
                        </div><!--/col-sm-6-->




                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
