.white-box{
    background-color: whitesmoke;
    min-height: 70px;
    max-height: 70px;
    border: solid 1px green;
    text-align: center;
    /*padding:5px 0px;*/
    padding-top:1px;
}
.white-box h4{
    border: none;
    padding:0px;
}
.green-box{
     background-color: #77A54B;
     min-height: 70px;
    max-height: 70px;

    text-align: center;
    padding-top:1px;
    border: solid 1px  #77A54B;


}

.green-box h4{
    border: none;
    padding:0px;

}


/************************ change plan *****************************/


.bronze {
    background-color: #B0C4DE;
}

.bronze-text {
    color: #B0C4DE;
}

.silver {
    color: #fff;
    background-color: #C0C0C0;
}

.gold {
    color: #fff;
    background-color: #FFD700;
}

.gold-text {
    color:#FFD700;
}

.content .plan {
    position:relative;
    top:30px;
    background:rgba(255,255,255,1);
    padding-top:10px;
    /*padding-bottom:40px;*/
    border-radius:7px;
    color:#777;
    box-shadow:5px 5px 0 rgba(0,0,0,0.05);
    -webkit-transition:all .3s ease-out;
    transition:all .3s ease-out;
}

.content .plan.featured {
    top:0;
    padding-top:50px;
    padding-bottom:50px;
}

.content .plan:hover,
.content .plan.featured {
    background: #000000;
    color:#fff;
    top:0;
    padding-top:50px;
    padding-bottom:50px;
}

.content .plan h2 {
    font-size:28px;
    font-weight:700;
    margin-bottom:0;
    text-transform:uppercase;
}

.content .plan.featured h2 {
    margin-bottom:10px;
}

.content .plan p {
    margin-bottom:5px;
    font-weight:400;
}

.content .plan .icon {
    display:inline-block;
    margin-bottom:30px;
    width:120px;
    height:120px;
    border-radius:50%;
    font-size:48px;
    line-height:120px;
    -webkit-transition:all .3s ease-out;
    transition:all .3s ease-out;
}

.content .plan.featured .icon,
.content .plan:hover .icon{
    color:#5cc9df;
    background:#fff;
}

.content .plan .btn-pricing {
    margin-top:20px;
    margin-bottom:0;
    font-size:16px;
    padding:10px 20px;
}

.content .plan.featured .btn-pricing,
.content .plan:hover .btn-pricing {
    background: #fff;
    color:#5CC9DF;
}

.content .plan .price {
    font-size:20px;
    font-weight:100;
    /*line-height:48px;*/
    /*margin-bottom:30px;*/
}

.content .plan.featured .price {
    margin-bottom:40px;
}


/* ------------- message box ----------------- */


#messageBox .modal-content {
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 6px;
    background-clip: padding-box;
    -webkit-box-shadow: 0 0 40px rgba(0,0,0,.5);
    -moz-box-shadow: 0 0 40px rgba(0,0,0,.5);
    box-shadow: 0 0 40px rgba(0,0,0,.5);
    color: #000;
    background-color: #fff;
    border: rgba(0,0,0,0);
}
#messageBox .modal-message .modal-dialog {
    width: 300px;
}
#messageBox .modal-message .modal-body, #messageBox .modal-message .modal-footer, #messageBox .modal-message .modal-header, #messageBox .modal-message .modal-title {
    background: 0 0;
    border: none;
    margin: 0;
    padding: 0 20px;
    text-align: center!important;
}

#messageBox .modal-message .modal-title {
    font-size: 17px;
    color: #737373;
    margin-bottom: 3px;
}

#messageBox .modal-message .modal-body {
    color: #737373;
}

#messageBox .modal-message .modal-header {
    color: #fff;
    margin-bottom: 10px;
    padding: 15px 0 8px;
}
#messageBox .modal-message .modal-header .fa,
#messageBox .modal-message .modal-header
.glyphicon, #messageBox .modal-message
.modal-header .typcn, #messageBox .modal-message .modal-header .wi {
    font-size: 30px;
}

#messageBox .modal-message .modal-footer {
    margin: 25px 0 20px;
    padding-bottom: 10px;
}

#messageBox .modal-backdrop.in {
    zoom: 1;
    filter: alpha(opacity=75);
    -webkit-opacity: .75;
    -moz-opacity: .75;
    opacity: .75;
}
#messageBox .modal-backdrop {
    background-color: #fff;
}
#messageBox .modal-message.modal-success .modal-header {
    color: #53a93f;
    border-bottom: 3px solid #a0d468;
}

#messageBox .modal-message.modal-info .modal-header {
    color: #57b5e3;
    border-bottom: 3px solid #57b5e3;
}

#messageBox .modal-message.modal-danger .modal-header {
    color: #d73d32;
    border-bottom: 3px solid #e46f61;
}

#messageBox .modal-message.modal-warning .modal-header {
    color: #f4b400;
    border-bottom: 3px solid #ffce55;
}

