<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">

           <div class="sidebar-toggle-div pull-right" style="height:100%;z-index:1000; position:relative">
                 <a href="#" class="pull-right sidebar-toggle" style="" id="menu-toggle" onclick="$('#wrapper').toggleClass('toggled');">

                 <i id="carrot" class="glyphicon glyphicon-chevron-left pull-right" style="margin-top:50%"></i>
                 </a>
           </div>


         <div> 
            <ul class="sidebar-nav">

                <li ng-repeat="link in pageLinks">

                    <a href="{{link.url}}">{{link.page}}</a>

                    <a ng-if="link.subLinks" class="sublinks" href="{{link.subLinks.url}}">
                        <i class="glyphicon glyphicon-chevron-right"></i> {{link.subLinks.page}}
                    </a>
                </li>


            </ul>
        </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">


                <div class="">
                    <div class="heading insetshadow" style="text-align: center">
                        <h1>Payments</h1>
                        <hr class="fancy-line">
                    </div>
                    <!-- Step Wizard -->
                    <div class="stepwizard">
                        <div class="col-md-12 stepwizard-row setup-panel">
                            <div class="col-sm-4 col-md-4 col-lg-4 stepwizard-step">
                                <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
                                <p>Step 1</p>
                            </div>
                            <div class=" col-sm-4 col-md-4 col-lg-4 stepwizard-step">
                                <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                                <p>Step 2</p>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-4 stepwizard-step">
                                <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="true">3</a>
                                <p>Step 3</p>
                            </div>
                        </div>
                    </div>
                    <!-- Step Wizard END -->
                    <!-- quote form -->
                    <form class="form-horizontal" role="form" method="post" autocomplete="on" spellcheck="true">

                        <fieldset><!-- form contents -->

                            <!-- Wizard STEP 1 -->
                            <div class="row setup-content" id="step-1">
                                <div class="col-sm-12">
                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="textinput">Name</label>
                                        <div class="col-sm-10">
                                            <div class="input-group">
                                                <input autocomplete="on" type="text" ng-model="name" placeholder="Full Name" class="form-control" required>
                                                <span class="input-group-addon label-success"><i class="glyphicon glyphicon-user text-white"></i></span>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Text input-->
                                    <!--<div class="form-group">-->
                                        <!--<label class="col-sm-2 control-label" for="textinput">Reason</label>-->
                                        <!--<div class="col-sm-10">-->
                                            <!--<div class="input-group">-->
                                                <!--<input type="text" placeholder="Reason" ng-model="reason" class="form-control" required>-->
                                                <!--<span class="input-group-addon label-success"><i class="glyphicon glyphicon-info-sign fa-lg text-white"></i></span>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="textinput">Amount</label>
                                        <div class="col-sm-10">
                                            <div class="input-group">
                                                <input id="amount" type="number" placeholder="Enter the Amount" ng-model="amount" class="form-control" required>
                                                <span class="input-group-addon label-success"><i class="glyphicon glyphicon-usd fa-lg text-white"></i></span>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Text input-->
                                    <!--<div class="form-group">-->
                                        <!--<label class="col-sm-2 control-label" for="textinput">Amount</label>-->
                                        <!--<div class="col-sm-4">-->
                                            <!--<div class="input-group">-->
                                                <!--<input type="tel" placeholder="Main Contact #" class="form-control">-->
                                                <!--<span class="input-group-addon bg-success"><i class="fa fa-phone fa-lg text-white"></i></span>-->
                                            <!--</div>-->
                                        <!--</div>-->

                                        <!--<label class="col-sm-2 control-label" for="textinput">Postcode</label>-->
                                        <!--<div class="col-sm-4">-->
                                            <!--<div class="input-group">-->
                                                <!--<input id="postcode" type="text" placeholder="Post Code" class="form-control">-->
                                                <!--<span class="input-group-addon bg-success"><i class="fa fa-map-marker fa-lg text-white"></i></span>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->


                                    <button class="btn btn-success nextBtn col-xs-3 pull-right" type="button" >Next <i class="fa fa-angle-double-right"></i> </button>
                                </div>
                            </div>
                            <!-- Wizard STEP 1 END -->

                            <!-- Wizard STEP 2 -->
                            <div class="row setup-content" id="step-2">
                                <div class="credit-card-div">
                                    <div class="panel panel-success" style="border:none">

                                        <div class="panel-heading col-md-6 col-md-offset-3">

                                            <div class="row">
                                                <div class="col-md-12" >
                                                    <div class="alert alert-danger" role="alert" ng-if="cardError">
                                                        Error Completing the Payment. Make sure you have entered correct data
                                                    </div>

                                                    <div class="alert alert-success" role="alert" ng-if="paymentSuccess">
                                                        Payment Successful
                                                    </div>
                                                </div>


                                            </div>

                                            <div class="row " style="margin-bottom: 10px">
                                                <div class="col-md-10 col-sm-10 col-xs-9">
                                                    <input type="text" class="form-control" placeholder="Enter Card Number" ng-model="cardNo">
                                                </div>
                                                <div class="col-md-1 col-sm-2 col-xs-3" style="padding-left: 0px;">
                                                    <img src="source/app/billing/img/1.png" class="img-rounded" style="padding-left: 0px">
                                                </div>
                                            </div>
                                            <div class="row " style="vertical-align: middle;margin-bottom: 20px">

                                                <div class="col-md-6 col-sm-6 col-xs-6">
                                                    <span class="help-block text-muted small-font"> Expiry Month</span>
                                                    <input type="text" class="form-control" placeholder="MM" ng-model="expiryMonth">
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-6">
                                                    <span class="help-block text-muted small-font">  Expiry Year</span>
                                                    <input type="text" class="form-control" ng-model="expiryYear" placeholder="YY">
                                                </div>
                                                <!--<div class="col-md-3 col-sm-3 col-xs-3">-->
                                                    <!--<span class="help-block text-muted small-font">  CCV</span>-->
                                                    <!--<input type="text" class="form-control" placeholder="CCV">-->
                                                <!--</div>-->
                                                <button class=" hidden btn btn-success nextBtn col-xs-3 pull-right" type="button" >Next <i class="fa fa-angle-double-right"></i> </button>

                                            </div>

                                            <div class="row " style="vertical-align: middle;margin-bottom: 20px">

                                                <div class="col-md-4 col-sm-4 col-xs-4">
                                                    <input type="text" class="form-control" placeholder="CSC" ng-model="securityNo">
                                                </div>

                                            </div>


                                            <div class="row ">

                                                <div class="col-md-12 col-sm-12 col-xs-12 pad-adjust">
                                                    <input type="button" class="btn btn-success btn-block" value="PAY NOW" ng-click="payNow()">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Wizard STEP 2 END -->

                            <!-- Wizard STEP 3 -->
                            <div class="row setup-content" id="step-3">
                                <div class="col-sm-12">

                                    <div class="form-group" style="text-align: center">

                                        <h1 style="color: #a4a4a4;padding-top: 20px">Thank you for the payment...</h1>

                                    </div>


                                </div>

                            </div>
                </div>
                <!-- Wizard STEP 3 END -->
                </fieldset><!-- form contents END -->
                </form>
            </div>

            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->



