<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">

           <div class="sidebar-toggle-div pull-right" style="height:100%;z-index:1000; position:relative">
               <a href="#" class="pull-right sidebar-toggle" style="" id="menu-toggle" onclick="clickedSideMenu()" >


               <i id="carrot" class="glyphicon glyphicon-chevron-left pull-right" style="margin-top:50%"></i>
                 </a>
           </div>


         <div> 
            <ul class="sidebar-nav">

                <li ng-repeat="link in pageLinks">
                    <a href="{{link.url}}">{{link.page}}</a>
                </li>


            </ul>
        </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        


                        <div class="col-md-12">
                            <div class="heading insetshadow" style="text-align: center">
                                <h1>Home</h1>
                                <hr class="fancy-line">
                            </div>

                            <button class="btn btn-default" ng-click="logout( )">Logout</button>
                            <button class="btn btn-default" ng-click="contact( )">Contact</button>
                            <br><a ng-href="#!/contact">cont</a>
                            <h3>Total plan cost: {{ plan.charge }}</h3>
                        </div>

                       
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->


