

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {

    z-index: 900;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #77A54B;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
    margin-bottom: 90px;
    margin-top: 50px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}



.sidebar-nav li .active{
    background-color: #6E9E40;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #dbdbdb;
    text-shadow: black;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

/*@media(min-width:768px) {*/
#wrapper {
    padding-left: 250px;
}

#wrapper.toggled {
    padding-left: 0;
}

#sidebar-wrapper {
    width: 250px;
}

#wrapper.toggled #sidebar-wrapper {
    width: 20px;
}

#page-content-wrapper {
    padding: 20px;
    position: relative;
}

#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
}
/*}*/
.sidebar-toggle-div{
    background-color: #6E9E40;

}
.sidebar-toggle-div {
    background-color: #638E39;
}

.sidebar-toggle-div i{
    color: #8DBF5D;
}

.sidebar-toggle-div:hover i {
    color: white;
}
.sidebar-toggle{

    height:calc(100%);
    width:20px;
    background-color: #6E9E40;
    /*padding-top: 50px;*/
}

.sidebar-toggle:hover{


    background-color: #638E39
}

.heading{
    text-align: center;
}

.insetshadow{
    color: rgb(133, 136, 130);
    /*background-color: #2d2d2d;*/
    letter-spacing: .1em;
    /*text-shadow: -1px -1px 1px #77A54B, 2px 2px 1px #363636;*/

}


hr.fancy-line {
    border: 0;
    height: 1px;
    position: relative;
    margin: 0.5em 0; /* Keep other elements away from pseudo elements*/

    margin-bottom: 1em;
}
hr.fancy-line:before {
    top: -0.5em;
    height: 1em;
}
hr.fancy-line:after {
    content:'';
    height: 0.5em;   /* half the height of :before */
    top: 1px;        /* height of hr*/
}

hr.fancy-line:before, hr.fancy-line:after {
    content: '';
    position: absolute;
    /*width: 100%;*/
}

hr.fancy-line, hr.fancy-line:before {
    /*background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 75%);*/
    /*background: -webkit-gradient(radial, center center, 0px, center center, 75%, color-stop(0%,rgba(0,0,0,0.1)), color-stop(75%,rgba(0,0,0,0)));*/
    /*background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);*/
    /*background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);*/
    /*background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);*/
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
}


.sublinks{
    /*padding-left: 10%;*/
    font-size: .9em;
    background-color: #454644;
    /*transition: all 2s;*/
}

.stepwizard-step a[disabled]{
    /*pointer-events: none;*/
}